@page
@model AutomatedDispatcher.Pages.Skill.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_LayoutManager.cshtml";
}


<div class="container">
    <h3>Urmeaza sa stergeti acest skill. Doriti sa continuati?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Skill.SkillName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Skill.SkillName)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Skill.Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="Create">Inapoi</a>
        </form>
    </div>
</div>