@page
@model AutomatedDispatcher.Pages.Skill.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_LayoutManager.cshtml";
}


    <div class="container">
        <h4>Nume Skill</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Skill.Id" />
                    <div class="form-group">
                        @*<label asp-for="Skill.SkillName" class="control-label">Nume Skill</label>*@
                        <input asp-for="Skill.SkillName" class="form-control" />
                        <span asp-validation-for="Skill.SkillName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" /> |
                        <a asp-page="Create">Inapoi</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
