@page
@model AutomatedDispatcher.Pages.Employee.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_LayoutManager.cshtml";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group">
                <label asp-for="Employee.FirstName" class="control-label"></label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LastName" class="control-label"></label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Role" class="control-label"></label>
                <input asp-for="Employee.Role" class="form-control" />
                <span asp-validation-for="Employee.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Username" class="control-label"></label>
                <input asp-for="Employee.Username" class="form-control" />
                <span asp-validation-for="Employee.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Password" class="control-label"></label>
                <input asp-for="Employee.Password" class="form-control" />
                <span asp-validation-for="Employee.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.WorkingHours" class="control-label"></label>
                <input asp-for="Employee.WorkingHours" class="form-control" />
                <span asp-validation-for="Employee.WorkingHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.CurrentWorkload" class="control-label"></label>
                <input asp-for="Employee.CurrentWorkload" class="form-control" />
                <span asp-validation-for="Employee.CurrentWorkload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Manager/menuManager">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
